# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
*.vscode

# Catkin
*.catkin_workspace
rp_ws/*.catkin_workspace

# Git-Setup
gitsetup.sh

# Build (ignore only in main branch)
build/
rp_ws/build/
rp_ws/devel/

# Test folder (ignore only in main)
test/

# Log file for keypressing 
rp_ws/key.log
key.log

# Reports
frames.*