<launch> 

<node pkg='mrsim' name='robot_0' type='robot'/>
  <param id='0' frame_id='frame_robot0' radious='0.5' max_rv='0.1' max_tv='0.5' parent='-1'/>
</node> 

<node pkg='mrsim' name='robot_0' type='lidar'/>
  <param id='1' frame_id='frame_lidar0' fov='6.18' num_beams='360' parent='0'/>
</node> 

<node pkg='mrsim' name='robot_1' type='robot'/>
  <param id='2' frame_id='frame_robot0' radious='0.5' max_rv='0.1' max_tv='0.5' parent='-1'/>
</node> 


</launch>